body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.exp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}